body {
    background: #eee;
}

a,
a:hover {
    color: #000;
    text-decoration: underline;
}

header,
footer {
    padding: 2em 0;
    text-align: center;
    background: #fff;
}
header h1 {
    width: 100%;
    margin: 0 auto;
    padding: 0.5em 0 0;
}
header h1 small {
    font-size: 0.5em;
    display: block;
}
header #pic {
    width: 160px;
    height: 160px;
    margin: 0 auto;
    background: #777 url('../img/jcpmmx.jpg') no-repeat center center;
    background-size: 160px;
    border: 1px solid #eee;
}

footer p:last-child {
    margin: 0;
}


.container {
    margin: 0 1em;
    background: #ddd;
}
.container .row > div {
    padding: 1.5em 1.5em 1em;
    margin: 1em 0 0;
    background: #fff;
}
.container .row > div:first-child {
    margin: 0;
}


@media (min-width: 768px) {
    .container {
        width: 768px;
        margin: 0 auto;
    }
}


