a {
    color: #000;
    text-decoration: underline;
}
a:hover {
    text-decoration: none;
}

div.container {
    padding: 0;
}

header {
    position: relative;
    height: 333px;
    padding-bottom: 3em;
    margin-bottom: 3em;
    background: #777 url('../img/bg.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;
}
header h1 {
    margin-bottom: 0.5em;
    color: #fff;
}
header h1 small {
    display: block;
    color: #ddd;
}
header a,
header a:hover {
    color: #fff;
}
header #text_container {
    position: absolute;
    bottom: 0;
    width: 100%;
}
header #text_container h1 small {
    font-size: 0.5em;
}
header #bg_info {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.3em 1em;
    font-size: 0.7em;
}
header #bg_info a {
    color: #fff;
}

footer {
    padding-top: 3em;
    margin-top: 3em;
    border-top: 1px solid #ccc;
    text-align: center;
}

dl dt {
    text-align: left !important;
}

blockquote {
    margin: 0;
    border: none;
}


#header_when_scrolling {
    display: none;
    position: fixed;
    z-index: 777;
    top: 0;
    width: 100%;
    height: 50px;
    background: #f7f7f7;
    border-bottom: 3px solid #ccc;
}
#header_when_scrolling h1 {
    height: 50px;
    margin: 0;
    font-size: 21px;
    line-height: 50px;
}
#header_when_scrolling p {
    height: 50px;
    margin: 0;
    font-size: 14px;
    line-height: 50px;
}
#header_when_scrolling .row_inner {
    margin: 0 2.5em;
}

#main_content {
    padding: 0 1em;
}

#main_content > .row {
    padding: 0 1.5em 3em;
    margin-bottom: 3em;
    border-bottom: 1px solid #eee;
}
#main_content > .row:last-child {
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: none;
}
#main_content > .row h3 {
    margin: 0 0 1.5em;
}


@media (min-width: 768px) {
    header {
        margin-bottom: 7em;
    }
    footer {
        margin-top: 7em;
    }
    div.container {
        width: 768px;
    }
    #header_when_scrolling {
        padding: 0;
    }
    #header_when_scrolling .row_inner {
        margin: 0 4.5em;
    }
    #main_content {
        padding: 0 3em;
    }
    #main_content > .row {
        border: none;
    }
}

@media (min-width: 1024px) {
    header {
        -webkit-border-bottom-right-radius: 33px;
        -webkit-border-bottom-left-radius: 33px;
        -moz-border-radius-bottomright: 33px;
        -moz-border-radius-bottomleft: 33px;
        border-bottom-right-radius: 33px;
        border-bottom-left-radius: 33px;
    }
    header #text_container {
        -webkit-border-bottom-right-radius: 33px;
        -webkit-border-bottom-left-radius: 33px;
        -moz-border-radius-bottomright: 33px;
        -moz-border-radius-bottomleft: 33px;
        border-bottom-right-radius: 33px;
        border-bottom-left-radius: 33px;
    }
    #header_when_scrolling .row_inner {
        margin: 0 1.5em;
    }
    #main_content {
        padding: 0;
    }
}
